@font-face {
    font-family: "RedHat";
    src: url(./assets/fonts/RedHatText-VariableFont_wght.ttf);
}

html{
   background-color: hsl(20, 50%, 98%);
}

body{
    margin: 30px 7%;

}
main{
    display:flex;
    justify-content: space-between;
}
section{
    width:65%
}
h1,h2,p,span{
font-family: "RedHat";
color:hsl(14, 65%, 9%);
}
h1{
    font-size:40px;
}
h2{
    color:hsl(14, 86%, 42%);
    margin-bottom: 0;
}

p{
    
    font-weight: 700;
    font-size: 16px;
    margin:4px 0;
}
span{
    font-size: 14px;
    color:white
}

.carte {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
}

.carte > div {
    width: 31%;
    position: relative; /* Pour permettre au bouton de se positionner par rapport à ce conteneur */
}

.carte img {
    max-width: 100%;
    border-radius: 10px;
}

.text {
    margin-bottom: 24px;
}

.category {
    font-size: 14px;
    font-weight: 400;
    color: hsl(7, 20%, 60%);
}

.price {
    color: hsl(14, 86%, 42%);
}

.panier {
    width: 30%;
    margin-top: 50px;
    background-color: white;
    padding: 0 24px;
    border-radius: 10px;
    height: fit-content;
}

.articles,.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.empty-cart-message{
    margin: 24px 0;
    color: hsl(7, 20%, 60%);
    font-size: 14px;
}
.cart-item{
    display: flex;
    width: 100%;
    padding: 15px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid hsl(13, 31%, 94%);
}
.infos-element{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    gap: 0 10px;
}
.cart-item p{
    font-size: 14px;
}
.name-element{
    width:100%;
}

.cart-item-price,.cart-item-total-price{
    color: hsl(7, 20%, 60%);
}

.cart-item-price{
    font-weight: 600;
    margin-left: 12px;
}
.remove-item{
    border: 1.5px solid hsl(7, 20%, 60%);
    border-radius: 7px;
    align-self: center
}
.remove-item:hover{
    cursor: pointer;
}
.order-total-message{
    padding-top:15px;
    display: flex;
    justify-content: space-between;
}
.order-total-message p:nth-child(1){
    color:hsl(12, 20%, 44%);
    align-self: center;
    font-weight: 400;
    font-size: 14px;
}
.order-total-message p:nth-child(2){
    color:hsl(14, 65%, 9%);
    font-size: 28px;
}

.carbon-neutral-message{
    background-color:hsl(20, 50%, 98%);
    border-radius:5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    justify-content: center;
    margin-top: 16px;
}
.carbon-neutral-message span{
    color:hsl(14, 65%, 9%);
}
.btn-commande,.btn-commande-active,#confirm-order,.modal-content button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 48px;
    border-radius: 25px;
    border: 1px solid hsl(12, 20%, 44%);
    font-size: 14px;
    padding-left: 12px;
    font-family: "RedHat";
    font-weight: 700;
}
.btn-commande{
    background-color: white;
    color: hsl(14, 65%, 9%);
}
.btn-commande:hover{
    cursor:pointer;
}

.btn-commande img {
    border-radius: 0;
    margin-right: 5px;
}
.btn-commande-active{
    background-color: hsl(14, 86%, 42%);
    color:white;
    border: none;
    padding: 0 5%;
}
.btn-commande-active button{
    display: flex;
    align-items: center;
    padding: 5px 0 5px 5px;
    background-color: hsl(14, 86%, 42%);
    border: solid 1px white;
    border-radius: 10px;
}
.btn-commande-active button:hover{
    cursor: pointer;
}
.quantity-controls{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cart-item-quantity{
    color: hsl(14, 86%, 42%)
}
.border-active {
    border: 2px solid hsl(14, 86%, 42%); /* Choisis la couleur qui te plaît */
}
#confirm-order,.modal-content button{
    color:white;
    background-color: hsl(14, 86%, 42%);
    width:100%;
    border: none;
    margin: 24px 0;
    padding: 0;
}
#confirm-order:hover,.modal-content button:hover{
    cursor: pointer;
}
.btnDiv{
    display: flex;
    justify-content: center;
    transform: translateY(-60%);
}
/******** MODAL *********/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* S'assurer que la modale est au-dessus des autres éléments */
  }
  
.modal-content {
    background-color: white;
    width: 30%;
    padding:30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-content h1{
    margin: 10px 0;
}
 
.modal-content p{
    font-size: 14px;
    color:hsl(7, 20%, 60%);
    font-weight: 500;
}
  
@media(max-width:768px){
    main{
        flex-wrap: wrap;
    }
    section{
        width: 100%;
    }
    .carte div{
        width:100%;
    }
    .panier{
        width: 100%;
    }
    .carte-item p{
        font-size: 12px;
    }
    .infos-element{
        width:70%;
    }
    .btn-commande,.btn-commande-active{
        width: 50%;
    }
}